@model JDBudgetPlanner.Models.Account

<h3>Archive Account</h3>

@using (Html.BeginForm("ArchiveAccount", "Transactions"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>@Model.Name</dd>
            <dt>Balance</dt>
            <dd>$@Model.Balance</dd>
        </dl>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Archive" class="btn btn-default" />
                </div>
            </div>
</div>
}
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-default cancel">Cancel</button>
        </div>
    </div>
</div>

